{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <header>
        <nav>
          <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My Projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
            {% endif %}
          </ul>
        </nav>
      </header>
    
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if list.filter %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {%for item in list.filter %}
                        <tr>
                            <td>
                                {{item.name}}
                            </td>
                            <td>
                                {{item.start_date}}
                            </td>
                            <td>
                                {{item.due_date}}
                            </td>
                            <td>
                                {{ item.is_completed|yesno:"yes,no" }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
</body>

</html>